<h1>Welcome to Family Tree</h1>


<form>
  <label>
    Email
    <input type='text'>
  </label>

  <label>
    Password
    <input type='password'>
  </label>

  <input type='submit' value='Sign In!'>
</form>

<span class='vertical-break'></span>

<form>
  <label>
    Email
    <input type='text'>
  </label>

  <label>
    Confirm Email
    <input type='text'>
  </label>

  <label>
    Password
    <input type='password'>
  </label>

  <label>
    Confirm Password
    <input type='password'>
  </label>

  <input type='submit' value='Register!'>
</form>
